body {
  font-family: "Imprima", sans-serif;
}

h1,
h2,
a {
  color: #1ab2a8;
}

h1 {
  font-size: 38px;
  font-weight: 600;
  margin: 30px auto 25px 0;
}

h2 {
  font-size: 34px;
  margin-top: 35px;
  margin-bottom: 20px;
}

p {
  color: #3f3a32;
  font-size: 20px;
  text-align: center;
}

i.magnifying-glass {
  color: #3f3a32;
  display: block;
  font-size: 20px;
  margin: 7px auto;
}

a {
  font-size: 15px;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #ffa726;
  cursor: pointer;
}

div.main-city {
  margin: 15px auto 30px 0;
}

span.main-city {
  color: #3f3a32;
  font-weight: bold;
  font-size: 30px;
}

footer {
  font-size: 15px;
  margin: 0 auto 25px 25px;
}

.search-form {
  display: block;
}

.search-bar {
  margin: 0 auto 30px 0;
  max-width: 85%;
}

.date,
.time {
  color: #3f3a32;
  font-size: 20px;
}

.weather-features {
  font-size: 20px;
  max-width: 70%;
}

div.weather-features .precipitation {
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

.degrees {
  font-size: 13px;
  position: relative;
  top: -9px;
}

.weather-icons {
  font-size: 25px;
  text-align: center;
}

.hour-information {
  font-weight: bold;
}

.hourly-precipitation {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

.previous-time,
.subsequent-time {
  color: #1ab2a8;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 120px;
  transition: all 200ms ease-in-out;
}

.previous-time:hover,
.subsequent-time:hover {
  color: #0f4e4a;
  cursor: pointer;
}

div.hourly-forecast {
  background-color: rgba(255, 167, 38, 0.07);
  border-radius: 10px;
  padding: 15px 25px;
}

#myChart {
  max-height: 25%;
}

div.container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 25px auto 0 25px;
}

a.active {
  color: #3f3a32;
  text-decoration: none;
}

a.active:hover {
  cursor: default;
  text-decoration: none;
}
